<nav class="bg-gray-200 p-2 flex justify-between">
	<a mat-button color="primary" routerLink="/" class="!text-2xl !font-bold">RecetApp</a>
	<div *ngIf="!isAuthenticated" class="flex gap-2 md:pl-20">
		<a mat-button (click)="navigateTo('/inicio-sesion')" class="!tracking-[0.15em]">Iniciar sesión</a>
		<a mat-flat-button color="primary" (click)="navigateTo('/registro')" class="!tracking-[0.15em]">Registro</a>
	</div>
	<div *ngIf="isAuthenticated" class="w-full flex justify-between">
		<ul class="mx-10 flex justify-between gap-2 md:gap-4 lg:gap-10">
			<li>
				<a mat-button (click)="navigateTo('/')">Inicio</a>
			</li>
			<li>
				<a mat-button (click)="navigateTo('/recetas')">Recetas</a>
			</li>
			<li>
				<a mat-button (click)="navigateTo('/perfil')">Mi Perfil</a>
			</li>
		</ul>
		<ul class="flex gap-2">
			<li>
				<a mat-button (click)="navigateTo('/crear-receta')" class="!tracking-[0.15em]">Crear receta</a>
			</li>
			<li>
				<button (click)="logOut()" mat-flat-button color="primary" class="!tracking-[0.15em]">Cerrar sesión</button>
			</li>
		</ul>
	</div>
</nav>